<div class="container__vertical-card">
    <a [routerLink]="['content', id]">
        <div class="vertical-card__content">
            <div class="vertical-card__content">
                <div class="vertical-card__photo">
                    <img 
                    src="{{ photoUrl }}"
                    alt="">
                </div>
                <div class="vertical-card__text">
                    <div class="vertical-card__publish-date">
                        <p>
                            {{ publishDate }}
                        </p>
                    </div>
                    <div class="vertical-card__title">
                        <h1>
                            {{ cardTitle }}
                        </h1>
                    </div>
                    <div class="vertical-card__description">
                        <p>
                            {{ cardSumary }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
