<div class="container__big-card">
    <a href="">
        <div class="big-card__photo">
            <img 
            src="https://cdn.prod.website-files.com/66d16ac0a28e9fc29617fc2e/673b41ccea45ed2c55cf536b_angular-16-banner.jpg"
            alt="Imagem do Angular">
        </div>
        <div class="big-card__publish-date">
            <p>Janeiro, 2025</p>
        </div>
        <div class="big-card__title">
            <h1>Nova versão do Angular</h1>
        </div>
    </a>
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis nulla in nibh mattis placerat. Morbi sed eros sed augue tristique porttitor a ac odio. In hac habitasse platea dictumst. Proin in sagittis eros.
        </p>
    </div>
</div>
