.container__big-card {
    margin-left: 20px;
    margin-right: 20px;

    width: 600px;
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card__photo > img{
    width: 100%;
    height: auto;
    min-width: 400px;
}

.big-card__title,
.big-card__description,
.big-card__publish-date {
    margin-top: 10px;
}

.big-card__title > h1 {
    font-size: 35px;
}

.big-card__description p,
.big-card__publish-date p {
    color: #ADB5BD;
}

.big-card__description > p {
    text-align: justify;
    text-justify: inter-word;
}
