.container__menu-title {
    color: #FFF;
    text-transform: uppercase;
}

.container__menu-title > h1 {
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Segoe UI';

    display: flex;
    justify-content: center;
}

.container__menu-title > hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
