<div class="container__small-card">
    <a [routerLink]="['content', id]">
        <div class="small-card__content">
            <div class="small-card__photo">
                <img 
                src="{{ photoUrl }}"
                alt="">
            </div>
            <div class="small-card__text">
                <div class="small-card__publish-date">
                    <p>
                        {{ publishDate }}
                    </p>
                </div>
                <div class="small-card__title">
                    <h1>
                        {{ cardTitle }}
                    </h1>
                </div>
            </div>
        </div>
    </a>

    <div class="container__small-card__separator">
        <hr>
    </div>
</div>
