<div class="container__small-card">
    <a href="">
        <div class="small-card__content">
            <div class="small-card__photo">
                <img 
                src="https://cdn.bap-software.net/2024/08/26213247/spring.jpg"
                alt="Imagem do Spring Boot">
            </div>
            <div class="small-card__text">
                <div class="small-card__publish-date">
                    <p>Janeiro, 2025</p>
                </div>
                <div class="small-card__title">
                    <h1>Nova versão do Spring Boot</h1>
                </div>
            </div>
        </div>
    </a>

    <div class="container__small-card__separator">
        <hr>
    </div>
</div>
