.container__content {
    width: 600px;
    height: 100%;
    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__cover > img {
    border: 2px solid #FFF;
    border-radius: 4px;
    width: 600px;
    min-width: 500px;
    height: auto;
}

.container__description {
    margin-top: 15px;
}

.container__description > p {
    color: #ADB5BD;
    text-align: justify;
}

.container__title > h1 {
    text-align: center;
}
