<header>
    <app-menu-bar></app-menu-bar>
</header>

<main>
    <app-menu-title></app-menu-title>
    
    <div class="container__articles">
        <div class="articles__main">
            <app-big-card
                photoUrl="https://cdn.prod.website-files.com/66d16ac0a28e9fc29617fc2e/673b41ccea45ed2c55cf536b_angular-16-banner.jpg"
                publishDate="Janeiro, 2025"
                cardTitle="Nova versão do Angular"
                cardDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis nulla in nibh mattis placerat. Morbi sed eros sed augue tristique porttitor a ac odio. In hac habitasse platea dictumst. Proin in sagittis eros."
            ></app-big-card>
        </div>
    
        <div class="articles__others">
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
        </div>
    </div>
</main>
