<header>
    <app-menu-bar></app-menu-bar>
</header>

<main>
    <app-menu-title></app-menu-title>
    
    <div class="container__articles">
        <div class="articles__main">
            <app-big-card
                photoUrl="https://cdn.prod.website-files.com/66d16ac0a28e9fc29617fc2e/673b41ccea45ed2c55cf536b_angular-16-banner.jpg"
                publishDate="Janeiro, 2025"
                cardTitle="Nova versão do Angular"
                cardDescription="A nova versão do Angular chega com melhorias de desempenho e novos recursos para otimizar o desenvolvimento de aplicações web, tornando o framework ainda mais eficiente e fácil de usar."
            ></app-big-card>
        </div>
    
        <div class="articles__others">
            <app-small-card
                photoUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEBsy8QfENwIfr25Zln1aG2AngXkYekAEZiw&s"
                publishDate="Janeiro, 2025"
                cardTitle="O que é ChatGPT e o que ele é capaz de fazer?"
            ></app-small-card>
            <app-small-card
                photoUrl="https://highsales.digital/images/blog/o-que-e-web-design.jpg"
                publishDate="Janeiro, 2025"
                cardTitle="Tendências de design para sites em 2025"
            ></app-small-card>
            <app-small-card
                photoUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_vWPwXRYA63uAlNJ7JSu-zp8rUVDxymYU0Q&s"
                publishDate="Março, 2025"
                cardTitle="Como o Spring Security fortalece suas aplicações?"
            ></app-small-card>
        </div>
    </div>
</main>
